/* Éléments principaux de la page */

body
{
    font-family: 'Raleway', sans-serif;
    color: black;
    margin: 0;
}

#page_sans_footer
{
    margin: 0 2%;
}

#page
{
    width: 100%;
    margin: auto;
}

header
{
    display: flex;
    justify-content: space-between;
}

#logo
{
    flex: 100%;
}

#logo img
{
    margin: 20% 20% 20% 0;
}

nav
{  
    display: flex;
    height: 100%;
}

nav div
{
    display: flex;
    align-items: center;
}

nav span
{
    padding: 40px 30px 0;
}

.nav_hébergements
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    margin-top: 0;
    font-weight: 500;
    padding: 38px 30px 0;
}

nav a 
{
    text-decoration: none;
    color: #0065FC;
}

a
{
    text-decoration: none;
    color: #000;
}

.nav_activités
{
    padding: 40px 30px 0;
}

.nav_activités_a
{
    color: #000;
}

.nav_hébergements:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    margin-top: 0;
    font-weight: 500;
    padding: 38px 30px 0;
}

.nav_activités:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    margin-top: 0;
    font-weight: 500;
    padding: 38px 30px 0;
}

.nav_activités_a:hover
{
    color: #0065FC;
}

#inscription
{
    color: #0065fc;
    font-weight: bold;
}

#titre_recherche
{
    margin: 1% 0% 2% 0%;
}

#titre_recherche h1
{
    font-size: 1.5rem;
}

#titre_recherche h2
{
    font-weight: 500;
    font-size: 1.1rem;
}

/* Filtres et recherche */

#filtres_recherche, h1, h2, h3, h4
{
    font-weight: bold;
    color: black;
}

#filtres_recherche
{
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

#filtres_texte
{
    align-self: center;
}

.tout_filtres
{
    display: flex;
    flex-wrap: wrap;
}

.filtre
{
    display: flex;
    align-items: center;
    height: 46px;
    border: 2px solid #f2f2f2;
    border-left: none;
    margin-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    transition: all 0.5s;
}

.filtre span
{
    padding-left: 12px;
}

.icone_filtre
{
    position: relative;
    right: 1px;
    border-radius: 50%;
    background-color: #deebff;
    height: 50px;
    width: 50px;
}

.icone_filtre i
{
    display: flex;
    justify-content: center;
    margin: 30%;
    color: #0065fc;
}

.filtre:hover
{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
     -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
         transform: scale(1.1);
    color: #0065fc;
    border-color: #0065fc;
    background: transparent;
     transition: all 0s;
}

.bouton
{
    background-color: #0065fc;
    color: #ffffff;
    border-radius: 0px 15px 15px 0px;
    height: 50px;
    font-size: 1.1rem;
    border-style: none;
    border: none;
    cursor: pointer;
}

.bouton:hover
{
    background-color: #4288f1;
}

.bouton i
{
    display: none;
}

input[type="search" i]
{
    font-family: 'Raleway', sans-serif;
    height: 50px;
    font-weight: 600;
    font-size: 1.1rem;
    border: 1px #f2f2f2 solid;
    border-left: none;
    border-right: none;
    padding-left: 0.5%;
}

#form_recherche label
{
    color: #000;
    background-color: #f2f2f2;
    border: 1px #f2f2f2 solid;
    border-radius: 15px 0px 0px 15px;
    padding: 0.85rem 1rem;
}

#form_recherche
{
    margin: 2% 0% 2% 0%;
}

#information .fas
{
    color: #0065fc;
}

#information
{
    margin: 2% 0% 2% 0%;
}

/* Bloc des hébergements à Marseille */

@media (max-width: 800px) 
{
    #bloc_hébergements 
    {
      flex-direction: column;
    }
    #hébergements_marseille, #les_plus_populaires 
    {
      flex: 100%;
    }
}

#bloc_hébergements
{
    display: flex;
    justify-content: space-around;
}

#hébergements_marseille
{
    background-color: #f2f2f2;
    border-radius: 15px;
    flex: 70%;
    margin-right: 1.7%;
}

#boites_marseille
{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titre_marseille
{
    display: block;
    font-weight: bold;
    width: 100%;
    height: 2em;
    margin-left: 4%;
    font-size: 1.2em;
}

.titre_marseille h3
{
    margin-top: 4%;
}

.marseille
{
    display: inline-block;
    width: 28%;
    height: 16em;
    margin: 2%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 2px 5px #a09d9d;
    transition: all 0.5s;
}

.img_marseille
{
    width: auto;
    height: 10em;
    padding: 0.375rem;
}

.description
{
    width: 100%;
    height: 5em;
    padding-left: 5%;
    padding-top: 1%;
    color: black;
}

.description p, h4
{
    margin: 5px 0px 5px 0px;
}

.img_marseille img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.prix
{
    font-weight: bold;
}

.star
{
    color: #0065fc;
}

.no_star
{
    color: #ddd6d6;
}

.marseille:hover
{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
     -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
         transform: scale(1.1);
         transition: all 0s;
}

/* Bloc des plus populaires */

#les_plus_populaires
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 1%;
    background-color: #f2f2f2;
    border-radius: 15px;
    flex: 28%;
}

#les_plus_populaires h3
{
    display: flex;
    width: 100%;
    margin: 0;
}

#les_plus_populaires h3 .fas
{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    font-weight: bold;
    line-height: 1.5;
}

#titre_populaire
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 10%;
    font-size: 1.2em;
    font-weight: bold;
    height: 1.5em;
}

.populaires
{
    display: flex;
    width: 80%;
    height: 160px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 2px 5px #a09d9d;
    transition: all 0.5s;
}

.populaires a
{
    display: flex;
    width: 100%;
}

.img_populaire
{
    display: flex;
    align-items: center;
    width: 35%;
    height: 100%;
    border-radius: 15px;
}

.img_populaire_2
{
    display: flex;
    align-items: center;
    width: 36.5%;
    height: 160px;
    border-radius: 15px;
}

.img_populaire img
{
    width: 100%;
    height: 96%;
    border-radius: 15px 0px 0px 15px;
    padding: 2%;
    object-fit: cover;
}

.img_populaire_2 img
{
    width: 100%;
    height: 96%;
    border-radius: 15px 0px 0px 15px;
    padding: 2%;
    object-fit: cover;
}

.description_populaire
{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 10em;
    margin-left: 4%;
    object-fit: cover;
}

.description_populaire_2
{
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 10em;
    margin-left: 4%;
    object-fit: cover;
}

.description_populaire p
{
    margin: 2% 1% 2% 0%;
}

.description_populaire_2 p
{
    margin: 2% 1% 2% 0%;
}

.populaires .note
{
    margin-top: 30%;
    margin-bottom: 1%;
}

.populaires .note_2
{
    margin-top: 21%;
    margin-bottom: 1%;
}

.populaires:hover
{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
     -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
         transform: scale(1.1);
         transition: all 0s;
}

/* Bloc activités */

#activités_à_marseille
{
    margin: 3% 0% 3% 0%;
}

#titre_activités
{
    font-size: 1.2rem;
    font-weight: bold;
}

.activités
{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.grande_activité
{
    display: flex;
    flex-direction: column;
    width: 23%;
    border-radius: 15px;
    box-shadow: 0 0 10px #cfcccc;
    transition: all 0.5s;
}

.photo_grande_activité
{
    width: 100%;
}

.photo_grande_activité img
{
    width: 100%;
    height: 27em;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.double_activités
{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo_double_activités
{
    width: 100%;
}

.photo_double_activités img
{
    width: 100%;
    height: 9.9em;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.nom_activité
{
    padding: 5%;
    font-weight: bold;
    font-size: 1.1rem;
    align-items: center;
}

.grande_activité:hover
{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
     -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
         transform: scale(1.1);
         transition: all 0s;
}

#fort_de_pomègues:hover, #îles_du_frioul:hover, #garde:hover, #parc_longchamp:hover
{
-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
     -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
         transform: scale(1.1);
         transition: all 0s;
}

#fort_de_pomègues, #garde
{
    margin-bottom: 10%;
}

#fort_de_pomègues, #îles_du_frioul, #garde, #parc_longchamp
{
    border-radius: 15px;
    box-shadow: 0 0 10px #cfcccc;
    transition: all 0.5s;
}

/* footer */

footer
{
    display: flex;
    background-color: #f2f2f2;
    padding: 40px 50px 40px 50px;

}

footer div
{
    flex: 100%;
}

footer ul
{
    list-style-type: none;
    padding: 0;
}

footer li
{
    margin-bottom: 10px;
}

footer a:hover
{
    color: #0065FC;
}

/* Version tablette */

@media (max-width: 1024px)
{
    #filtres_texte
    {
        align-self: flex-start;
    }
    .tout_filtres
    {
        flex-direction: column;
    }
    .filtre
    {
        margin: 0 0 1em 1em;
    }

    #bloc_hébergements
    {
        flex-direction: column;
    }

    #hébergements_marseille
    {
        margin-right: 0;
    }

    .marseille
    {
        width: 35%;
    }
    .titre_marseille
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    #les_plus_populaires
    {
        margin: 2% 0 0;
    }

    #les_plus_populaires h3
    {
        margin: 3% 0;
    }

    .populaires
    {
        margin-bottom: 3%;
    }

    .populaires .note
    {
        margin-top: 4rem;
    }
    .populaires .note_2
    {
        margin-top: 4rem;
    }
    footer
    {
        flex-direction: column;
    }
}

/*Version Mobile*/

@media (max-width: 720px)

{
    #page_sans_footer
    {
        margin: 0;
    }
    header
    {
        flex-direction: column;
    }
    #logo
    {
        margin-left: 20px;
    }
    #logo img
    {
        padding: 0;
        margin: 0;
    }

/* nav */

    #inscription
    {
        padding: 0;
        position: relative;
        bottom: 50px;
        width: 0;
        right: 100px;
    }

    .nav_hébergements
    {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    .nav_activités
    {
        border-bottom: 3px solid #f2f2f2;
    }

    .nav_hébergements:hover, .nav_activités:hover 
    {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding: 0 30px 10px;
        margin-top: 30px;
        color: #0065FC;
    }

    .nav_activités_a:hover
    {
        color: #0065FC;
    }

    nav div
    {
        width: 100%;
    }

    .nav_activités, .nav_hébergements 
    {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 0 30px 10px;
        margin-top: 30px;
    }

    /* Recherche */

    #form_recherche
    {
        margin: 10% 0 10% 0;
    }

    .bouton
    {
        border-radius: 15px;
        width: 50px;
    }

    .bouton span
    {
        display: none;
    }

    .bouton i
    {
        display: block;
    }

    /* Hébergements */

    #bloc_hébergements
    {
        flex-direction: column-reverse;
    }

    .titre_marseille h3
    {
        margin-bottom: 8%;
        margin-left: 5%;
    }

    #recherche_hébergement
    {
        margin: 30px 20px;
    }
    .marseille
    {
    width: 90%;
    box-shadow: 0px 2px 5px #a09d9d54;
    }


    #hébergements_marseille
    {
        background-color: white;
        margin-right: 0;
        margin-top: 10%;
    }
    
    .titre_marseille
    {
        justify-content: flex-start;
    }

    /* Populaires */

    #les_plus_populaires
    {
        border-radius: 0;
        margin-right: 0;
    }

    #titre_populaire
    {
        margin-left: 5%;
    }

    #les_plus_populaires h3
    {
        margin-top: 10%;
        margin-bottom: 5%;
    }

    #les_plus_populaires h3 .fas
    {
        margin-right: 5%;
    }

    .populaires
    {
        width: 90%;
        margin-bottom: 3%;
    }


    /* Activités */

    #titre_activités
    {
        margin-left: 5%;
    }

    .activités
    {
        flex-direction: column;
        width: 100%;
    }
    .activités a
    {
        width: 100%;
    }
    .double_activités
    {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 8%;
    }
    .photo_grande_activité img
    {
        height: 9.9em;
    }
    .grande_activité
    {
        width: 90%;
        margin: 2% 0 10% 5%;
    }
}