/* Éléments principaux de la page */

body
{
    font-family: 'Raleway', sans-serif;
    color: black;
    margin: 0 2%;
}

#page
{
    width: 100%;
    margin: auto;
}

header
{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

#logo
{
    width: 50%;
}

nav
{  
    width: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

nav ul
{
    display: flex;
    list-style-type: none;
}

nav li
{
    margin-right: 30%;
}

nav a 
{
    text-decoration: none;
}

a
{
    text-decoration: none;
    color: black; 
}

.nav_top
{
    font-size: 1.2em;
    padding: 11% 15% 0 15%;
}

#inscription
{
    color: #0065fc;
    font-weight: bold;
    font-size: 1.2em;
}

.nav_top:hover
{
    color: #0065fc;
    border-top: 1px #0065fc solid;
    font-weight: 500;
}

/* Filtres et recherche */

#filtres_recherche, h1, h2, h3, h4
{
    font-weight: bold;
    color: black;
}

#filtres_recherche
{
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

#filtres_recherche .fas
{
    color: #0065fc;
    background-color: #deebff;
    border: 1px #deebff solid;
    border-radius: 100%;
    border-left: none;
    border-right: none;
}

.filtres
{
    border: 2px #dddada solid;
    border-radius: 15px;
    margin-left: 1%;
    font-size: 1.2em;
    font-weight: bold;
}

input[type="submit" i]
{
   background-color: #0065fc;
   color: #ffffff;
   border-radius: 0px 10px 10px 0px;
   width: 5%;
   height: 4em;
   border-style: none;
   border-left: none;
    border-right: none;
}

input[type="search" i]
{
    width: 10%;
    height: 4em;
    font-weight: bold;
    border: 1px #f2f2f2 solid;
    border-left: none;
    border-right: none;
}

#form_recherche label
{
    color: #000;
    background-color: #f2f2f2;
    border: 1px #f2f2f2 solid;
    border-radius: 10px 0px 0px 10px;
    width: 2%;
    padding: 1rem 1.25rem;
}

#information .fas
{
    color: #0065fc;
}

/* Bloc des hébergements à Marseille */

#bloc_hébergements
{
    display: flex;
    justify-content: space-around;
}

#hébergements_marseille
{
    width: 60%;
    height: 45em;
    margin-left: 1%;
    background-color: #f2f2f2;
    border-radius: 15px;
}

#boites_marseille
{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titre_marseille
{
    display: block;
    font-weight: bold;
    width: 100%;
    height: 2em;
    margin-left: 4%;
    font-size: 1.2em;
}

.marseille
{
    display: inline-block;
    width: 28%;
    height: 16em;
    margin: 2%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 2px 5px #a09d9d;
}

.img_marseille
{
    width: 100%;
    height: 10em;
}

.description
{
    width: 100%;
    height: 5em;
    padding-left: 5%;
    padding-top: 4%;
    color: black;
}

.description p, h4
{
    margin: 5px 0px 5px 0px;
}

.img_marseille img
{
    width: 97%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    padding: 1%;
}

.star
{
    color: #0065fc;
}

.no_star
{
    color: #ddd6d6;
}

/* Bloc des plus populaires */

#les_plus_populaires
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 45em;
    margin-left: 1%;
    background-color: #f2f2f2;
    border-radius: 15px;
}

#les_plus_populaires h3
{
    display: flex;
    width: 100%;
}

#les_plus_populaires h3 .fas
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 10%;
}

#titre_populaire
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 10%;
}

.populaires
{
    display: flex;
    width: 80%;
    margin-bottom: 8%;
    height: 10em;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 2px 5px #a09d9d;
}

.populaires a
{
    display: flex;
    width: 100%;
}

.img_populaire
{
    width: 35%;
    height: 100%;
    border-radius: 15px;
}

.img_populaire img
{
    width: 100%;
    height: 96%;
    border-radius: 15px 0px 0px 15px;
    padding: 2%;
    object-fit: cover;
}

.description_populaire
{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 10em;
    margin-left: 4%;
    object-fit: cover;
}

.description_populaire_2
{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 10em;
    margin-left: 4%;
    object-fit: cover;
}

.description_populaire p
{
    margin: 2% 1% 2% 0%;
}

.description_populaire_2 p
{
    margin: 2% 1% 2% 0%;
}

.populaires .note
{
    margin-top: 30%;
    margin-bottom: 1%;
}

.populaires .note_2
{
    margin-top: 21%;
    margin-bottom: 1%;
}
