/* Définition des polices personnalisées */

@font-face {
    font-family: 'Raleway';
    src: url(/OpenClassrooms/formation_dev/P2_Pignolet_Dylan/Projet_2_reservia/Raleway-Italic-VariableFont_wght.ttf) format('truetype');
    src: url(/OpenClassrooms/formation_dev/P2_Pignolet_Dylan/Projet_2_reservia/Raleway-VariableFont_wght.ttf) format('truetype');
}
/* Éléments principaux de la page */

body
{
    font-family: 'Raleway', Arial, sans-serif;
    color: black;
}

#page
{
    width: 100%;
    margin: auto;
}

header
{
    display: flex;
    justify-content: space-between;
}

#filtres_recherche, h1, h2, h3, h4
{
    font-weight: bold;
    color: black;
}

/* Bloc des hébergements à Marseille */

#bloc_hébergements
{
    display: flex;
}

#hébergements_marseille
{
    width: 60%;
    height: 50em;
    margin-left: 1%;
    background-color: #f2f2f2;
    border-radius: 15px;
}

.titre_marseille
{
    display: block;
}

.marseille
{
    display: inline-block;
    width: 25%;
    height: 15em;
    margin: 2%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 2px 5px #a09d9d;
}

.img_marseille
{
    width: 100%;
    height: 10em;
}

.description
{
    width: 100%;
    height: 5em;
    padding-left: 5px;
    color: black;
}

.description p, h4
{
    margin: 5px 0px 5px 0px;
}

.img_marseille img
{
    width: 97%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    padding: 1%;
}

nav ul
{
    display: flex;
    list-style-type: none;
}

nav li
{
    margin-right: 10%;
}

nav a 
{
    text-decoration: none;
}

a
{
    text-decoration: none;  
}

.star
{
    color: #0065fc;
}

.no_star
{
    color: #ddd6d6;
}

/* Bloc des plus populaires */

#les_plus_populaires
{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50em;
    margin-left: 1%;
    background-color: #f2f2f2;
    border-radius: 15px;
}

.populaires
{
    display: flex;
    width: 80%;
    height: 10em;
    margin: 2%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 2px 5px #a09d9d;
}

.img_populaire
{
    width: 35%;
    height: 100%;
    border-radius: 15px;
}

.img_populaire img
{
    width: 100%;
    height: 96%;
    border-radius: 15px 0px 0px 15px;
    padding: 2%;
}

.description_populaire
{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 10em;
    margin-left: 4%;
    object-fit: cover;
}

.description_populaire_2
{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 10em;
    margin-left: 4%;
    object-fit: cover;
}

.description_populaire p
{
    margin: 2% 1% 2% 0%;
}

.description_populaire_2 p
{
    margin: 2% 1% 2% 0%;
}

.populaires .note
{
    margin-top: 30%;
    margin-bottom: 1%;
}

.populaires .note_2
{
    margin-top: 21%;
    margin-bottom: 1%;
}
